<h1>Date: {{ currentDate | date }}</h1>

<h1>Date: {{ currentDate | date : 'dd-mm-yyyy'}}</h1>

<h1>Date: {{ currentDate | date : 'medium'}}</h1>

<h1>Date: {{ currentDate | date : 'dd-mm-yyyy h:mm:ss'}}</h1>

<h1>{{x | lowercase}}</h1>

<h1>{{y | uppercase}}</h1>

<h1>{{z | percent:"0.1"}}</h1>

{{a|json}};
<br><br>

<table style="border: 2px solid black;">
  <tr>
    <th>Student ID</th>
    <th>Name</th>
    <th>DOB</th>
    <th>Gender</th>
    <th>Fees</th>
  </tr>
  <tr>
    <td>{{students.ID|uppercase}}</td>
    <td>{{students.Name|titlecase}}</td>
    <td>{{students.DOB|date:'dd/mm/yyyy'}}</td>
    <td>{{students.Gender|uppercase}}</td>
    <td>{{students.Fees|currency:'INR':true}}</td>
  </tr>

</table>